extends ../layouts/main

block styles
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
  link(rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css")

block content
  h1.title Új csoport felvétele
  form(method="POST", action="/groups")
    .field
      label.label Csoport neve
        input.input(type="text", name="name", placeholder="Analízis ZH1 készülés" required)
    .field
      label.label Tárgy
        input.input(type="text", name="subject", placeholder="Analízis 1")
    .field
      label.label Szint
        .control
          .select
            select(name="room")
              each room in ROOMS
                if roomId == room
                  option(value=`${room}`, selected='selected')
                    =room
                else
                  option(value=`${room}`)
                    =room
    .field
      label.label Kezdés ideje
        input.flatpickr.input(type="text", id="pickerStart", name="startDate", required, data-input)
      p.help Vizsgáld felül, jól vitted-e be az adatokat!
    .field
      label.label Befejezés ideje
        input.flatpickr.input(type="text", id="pickerEnd", name="endDate", required, data-input)
      p.help Vizsgáld felül, jól vitted-e be az adatokat!
    .field
      label.label Leírás
        .control
          textarea.textarea(name="description", rows="3")
    .field
      .control
        input(type="checkbox", name="doNotDisturb" id="doNotDisturb")
        label.checkbox(for="doNotDisturb") Nem szeretném, hogy mások csatlakozzanak
    .field
      .control
        button.button.is-link(type="submit") Új csoport létrehozása

block scripts
  if start && end
    script const range = { start: !{JSON.stringify(start)}, end: !{JSON.stringify(end)} }
  script(src="https://cdn.jsdelivr.net/npm/flatpickr")
  script(src="/js/picker.js")