extends ../layouts/main

block content
  h1.title Új csoport felvétele
  form(method="POST", action="/groups")
    .field
      label.label Csoport neve
        input.input(type="text", name="name", placeholder="Analízis ZH1 készülés" required)
    .field
      label.label Tárgy
        input.input(type="text", name="subject", placeholder="Analízis 1")
    .field
      label.label Szint
        .control
          .select
            select(name="room")
              each room in ROOMS
                if roomId == room
                  option(value=`${room}`, selected='selected')
                    =room
                else
                  option(value=`${room}`)
                    =room
    .field
      label.label Kezdés ideje
        input.input(type="datetime-local", name="startDate", value=`${start ? start : ''}`, pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required)
      p.help Ha nem jelenik meg a dátumválasztó, használd a következő formátumú szöveget: ÉÉÉÉ-HH-NNTÓÓ:PP
    .field
      label.label Befejezés ideje
        input.input(type="datetime-local", name="endDate", value=`${end ? end : ''}`, pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required)
      p.help Ha nem jelenik meg a dátumválasztó, használd a következő formátumú szöveget: ÉÉÉÉ-HH-NNTÓÓ:PP
    .field
      label.label Leírás
        .control
          textarea.textarea(name="description", rows="3")
    .field
      .control
        input(type="checkbox", name="doNotDisturb" id="doNotDisturb")
        label.checkbox(for="doNotDisturb") Nem szeretném, hogy mások csatlakozzanak
    .field
      .control
        button.button.is-link(type="submit") Új csoport létrehozása
