extends ../layouts/main

block styles
  script(src="https://bossanova.uk/jsuites/v2/jsuites.js")
  link(rel="stylesheet" href="https://bossanova.uk/jsuites/v2/jsuites.css")

block content
  h1.title Új csoport felvétele
  form(method="POST", action="/groups")
    .field
      label.label Csoport neve
        input.input(type="text", name="name", placeholder="Analízis ZH1 készülés" required)
    .field
      label.label Tárgy
        input.input(type="text", name="subject", placeholder="Analízis 1")
    .field
      label.label Szint
        .control
          .select
            select(name="room")
              each room in ROOMS
                if roomId == room
                  option(value=`${room}`, selected='selected')
                    =room
                else
                  option(value=`${room}`)
                    =room
    .field
      label.label Kezdés ideje
        input.input(type="text", id="pickerStart", name="startDate", value=`${start ? start : ''}` required)
      p.help Vizsgáld felül, jól vitted-e be az adatokat!
    .field
      label.label Befejezés ideje
        input.input(type="text", id="pickerEnd", name="endDate", value=`${end ? end : ''}` required)
      p.help Vizsgáld felül, jól vitted-e be az adatokat!
    .field
      label.label Leírás
        .control
          textarea.textarea(name="description", rows="3")
    .field
      .control
        input(type="checkbox", name="doNotDisturb" id="doNotDisturb")
        label.checkbox(for="doNotDisturb") Nem szeretném, hogy mások csatlakozzanak
    .field
      .control
        button.button.is-link(type="submit") Új csoport létrehozása

block scripts
  script(src='/js/picker.js')