article.message.is-danger.is-hidden
  .message-header
    p Hiba
  .message-body

article.message.is-warning.is-hidden
  .message-header
    p Figyelmeztetés
  .message-body

article.message.is-info.is-hidden
  .message-header
    p Információ
  .message-body