footer(class='flex flex-col items-center pt-6 pb-5 space-y-2 text-center')
  div(class='mb-2') TanulóSCH &copy; 2021
  div(class='flex flex-row items-center justify-center space-x-6')
    a(aria-label="GitHub link" href='https://github.com/kir-dev' target='_blank')
      svg(xmlns='http://www.w3.org/2000/svg' alt="Github" aria-label="Github" viewbox='0 0 24 24' fill='currentColor' class='w-6 h-6 hover:text-blue-800 dark:hover:text-blue-500 animate-hover')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.606 9.606 0 0112 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48C19.137 20.107 22 16.373 22 11.969 22 6.463 17.522 2 12 2z')
    a(aria-label="Facebook link" href='https://facebook.com/kirdevteam' target='_blank')
      svg(xmlns='http://www.w3.org/2000/svg' alt="Facebook" aria-label="Facebook" viewbox='0 0 24 24' fill='currentColor' class='w-6 h-6 hover:text-blue-800 dark:hover:text-blue-500 animate-hover')
        path(d='M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z')
    a(aria-label="Twitter link" href='https://twitter.com/kirdev' target='_blank')
      svg(xmlns='http://www.w3.org/2000/svg' alt="Twitter" aria-label="Twitter" viewbox='0 0 24 24' fill='currentColor' class='w-6 h-6 hover:text-blue-800 dark:hover:text-blue-500 animate-hover')
        path(d='M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84')
  div(class="pt-2")
    svg(xmlns="http://www.w3.org/2000/svg" alt="Kir-Dev" aria-label="Kir-Dev" viewbox="0 0 1498.79 1275.57" class="w-12 h-12")
      defs
        style.
          .cls-1{fill:#f15a29;}
      title Kir-Dev
      g#Layer_2(data-name="Layer 2")
        g#Layer_1-2(data-name="Layer 1")
          path(d="M903.06,109.54c52.51,0,105.16-1.19,157.65.21a561.05,561.05,0,0,1,59.62,4.76l-14.56-2c39.51,5.38,78.39,15.22,115.2,30.64l-13.09-5.52a365.13,365.13,0,0,1,80.67,46.57l-11.08-8.56a316.8,316.8,0,0,1,56.88,56.6l-8.57-11.08a289.6,289.6,0,0,1,37.2,63.54l-5.52-13.08a273.37,273.37,0,0,1,19,69.15l-2-14.56a263.89,263.89,0,0,1,0,69.68q1-7.28,2-14.56a260.29,260.29,0,0,1-17.81,65.26l5.52-13.09a267.94,267.94,0,0,1-34.41,58.9l8.56-11.09a292.59,292.59,0,0,1-52.21,52l11.08-8.56a347.8,347.8,0,0,1-76.94,44.41l13.09-5.52c-37.51,15.74-77.2,25.56-117.46,31l14.56-2c-32.63,4.32-65.36,5.23-98.22,5.23H903.06c-29.86,0-54.77,24.92-54.77,54.77s24.91,54.77,54.77,54.77c50.8,0,101.61.42,152.41,0,90.08-.8,182.45-18.63,261.14-64.06,60.44-34.89,113.62-88.33,141.44-153,7.42-17.22,14.25-34.38,18.79-52.59s7.07-36.74,8.63-55.27c2.73-32.47-.88-65.94-8.41-97.55-15.81-66.37-54.66-128.12-105.61-173.15-61.11-54-137.72-88.1-217.81-102A667.8,667.8,0,0,0,1038.82,0H903.06c-29.86,0-54.77,24.92-54.77,54.77s24.91,54.77,54.77,54.77Z")
          path(d="M572.6,599.21A540.71,540.71,0,0,0,274,690.37,606.59,606.59,0,0,0,67.32,928.51,672.69,672.69,0,0,0,.14,1220.8c0,29.85,25,54.77,54.77,54.77s54.74-24.92,54.77-54.77a638.89,638.89,0,0,1,5.65-84.08l-2,14.56A609.18,609.18,0,0,1,155.54,997q-2.76,6.54-5.53,13.08a582.31,582.31,0,0,1,74.47-127.65l-8.56,11.09a546.71,546.71,0,0,1,97.52-97.72l-11.09,8.57a508.87,508.87,0,0,1,111.41-65.24l-13.09,5.52a485.16,485.16,0,0,1,122.74-33.58l-14.56,2a490.71,490.71,0,0,1,63.75-4.24c29.86,0,54.77-24.88,54.77-54.77s-24.91-54.82-54.77-54.78Z")
          path(d="M682.38,54.77v1166c0,29.85,24.91,54.77,54.77,54.77s54.77-24.92,54.77-54.77V54.77C791.92,24.92,767,0,737.15,0s-54.77,24.91-54.77,54.77Z")
          path.cls-1(d="M0,54.79C.14,170.14,27.12,284.47,80,387.06c48.49,94.16,121.11,176,209.77,234.05a521.65,521.65,0,0,0,282.73,84.63c29.86,0,54.77-25,54.77-54.77s-24.91-54.72-54.77-54.77a467.33,467.33,0,0,1-60.62-4l14.56,2a465.38,465.38,0,0,1-117.23-32l13.08,5.52A499.68,499.68,0,0,1,311.4,502.58l11.09,8.57a555.88,555.88,0,0,1-97.93-98.41l8.56,11.08a614.87,614.87,0,0,1-79.34-136.41l5.52,13.09a665.34,665.34,0,0,1-45.53-167.7q1,7.27,2,14.56a704.18,704.18,0,0,1-6.19-92.57C109.51,24.93,84.65,0,54.77,0S0,24.93,0,54.79Z")
          path.cls-1(d="M1498.79,1220.8c-.15-111.42-29.14-222.25-84.46-319-52.61-92-129.81-170.59-221.32-224.12a578.92,578.92,0,0,0-290-78.59c-29.86,0-54.77,24.95-54.77,54.77s24.91,54.73,54.77,54.77a531.75,531.75,0,0,1,69.86,4.7l-14.56-2a523,523,0,0,1,132.42,36.35l-13.09-5.52a539.37,539.37,0,0,1,118,69.14l-11.09-8.57A562.89,562.89,0,0,1,1284.72,903q-4.28-5.54-8.56-11.08a579.47,579.47,0,0,1,74.78,128.23l-5.52-13.08a589.71,589.71,0,0,1,40.52,149.12l-2-14.56a608.17,608.17,0,0,1,5.25,79.21c0,29.85,24.89,54.77,54.77,54.77s54.81-24.92,54.78-54.77Z")
  div
    div(class='flex flex-row items-center text-lg')
      span Made with
      //- Heroicon name: heart
      svg(xmlns='http://www.w3.org/2000/svg' alt="Love" aria-label="Love" viewBox='0 0 20 20' fill='red' class='w-6 h-6 mx-1')
        path(fill-rule='evenodd', d='M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z', clip-rule='evenodd')
      span by&nbsp;
        a(href='https://kir-dev.sch.bme.hu' target='_blank' class='underline hover:text-yellow-700 dark:hover:text-yellow-500') Kir-Dev
    div(class='text-lg') Design by&nbsp;
      a(href='https://schdesign.hu' target='_blank' class='underline hover:text-red-600') schdesign
