nav.navbar(role='navigation' aria-label='main navigation')
  .navbar-brand
    a.navbar-item(href='/')
      | TanulóSCH
    a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')
  #navbarBasicExample.navbar-menu
    .navbar-start
      a.navbar-item(href='/')
        | Kezdőlap
      a.navbar-item(href='/groups')
        | Csoportok
      a.navbar-item(href='/tickets')
        | Hibajegyek
    .navbar-end
      .navbar-item
        .buttons
          if !loggedIn
            a.button.is-primary(href='/auth/oauth')
              strong AuthSCH bejelentkezés
          else
            a.button.is-primary(href='/account/profile')
              strong= user.name

