nav.navbar(role='navigation' aria-label='main navigation')
  .navbar-brand
    a.navbar-item(href='/') TanulóSCH
    a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarMenu')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')
  #navbarMenu.navbar-menu
    .navbar-start
      a.navbar-item(href='/') Kezdőlap
      a.navbar-item(href='/groups') Csoportok
      a.navbar-item(href='/tickets') Hibajegyek
    .navbar-end
      a.navbar-item(onclick='changeTheme()')
        span.icon.is-small
          i.fas.fa-moon
        span \
        span.icon.is-small
          i.fas.fa-sun
      if !loggedIn
        .navbar-item
          .buttons
            a.button.is-primary(href='/auth/oauth')
              strong AuthSCH bejelentkezés
      else
        .navbar-item.has-dropdown.is-hoverable
          .navbar-link
            strong= user.name
          .navbar-dropdown
            a.navbar-item(href=`/users/${user.id}`) Profil
            a.navbar-item(href="/logout") Kijelentkezés
