CLIENT_ID=<your client id>
CLIENT_SECRET=<your app secret>
CALLBACK_URL=auth/oauth/callback
SESSION_SECRET=verysecret
PORT=3000
NODE_ENV=development

DB_TYPE=postgres
DB_HOST=postgresql.db
DB_PORT=5432
DB_USERNAME=tanulo
DB_PASSWORD=tanulo
DB_DATABASE=tanulo
