doctype html
html(lang='hu')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title TanulóSCH
    meta(name='csrf-token', content=_csrf)
    link(rel='shortcut icon', href='/images/favicon.png')
    link(type="text/css", rel='stylesheet', href='/css/main-dark.css', id="dark-theme-css")
    link(type="text/css", rel='stylesheet', href='/css/main-light.css', id="light-theme-css")
    script(src='/js/themes.js')
    block styles

  body
    div(id="alert")
    include ../partials/header

    main
      block content

    include ../partials/footer
    script(src='/js/main.js')
    script(src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
    block scripts
