// Common scaffolding
html {
  transition: all 250ms ease 50ms;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 84rem;
  margin: 0 auto;

  main {
    margin-bottom: 2rem;
    padding: 1rem;
    flex: 1;
  }

  footer.page-footer {
    padding-bottom: 0.5rem;
  }
}

#alert {
  position: fixed;
  z-index: 999;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

article.message.alert-detail {
  animation: slide-down 0.3s ease-in;
}

.break-long-words {
  word-wrap: break-word;
}

.has-no-flex {
  flex: unset;
}

.is-fullheight {
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;

  > .card-footer {
    margin-top: auto;
  }
}

// Additional bulma extensions
@import "../../node_modules/bulma-tooltip/src/sass/index.sass";
@import "../../node_modules/@creativebulma/bulma-tagsinput/src/sass/index.sass";
@import "../../node_modules/bulma-calendar/src/sass/index.sass";

// Own imports
@import "./room.scss";
