////////////////////////////////////////////////
// DARKLY
// Modified version of bulmaswatch's darkly theme
// https://jenil.github.io/bulmaswatch/help/
// Special thanks to jenil
////////////////////////////////////////////////
.hero {
  background-color: $grey-dark;
}

.button {
  transition: all 200ms ease;
  color: $white;

  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba($button-focus-border-color, 0.5);
  }

  @each $name,
  $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {

      &.is-hovered,
      &:hover {
        background-color: lighten($color, 7.5%);
      }

      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        border-color: $color;
        box-shadow: 0 0 0 2px rgba($color, 0.5);
      }
    }
  }
}

.label {
  color: $grey-lighter;
}

.notification {
  background-color: $grey-dark;
}

.card {
  $card-border-color: lighten($grey-darker, 5);
  background-color: $grey-darker;

  .card-header {
    background-color: rgba($black-bis, 0.2);
  }

  .card-footer {
    background-color: rgba($black-bis, 0.2);
  }

  .card-footer,
  .card-footer-item {
    border-color: $card-border-color;
  }
}

.notification {

  @each $name,
  $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.modal-card-body {
  background-color: $grey-darker;
}

.modal-card-foot,
.modal-card-head {
  border-color: $grey-dark;
}

.message-header {
  background-color: $grey-dark;
  color: $white;
}

.message-body {
  border-color: $grey-dark;
}

.navbar {
  &.is-transparent {
    background: none;
  }

  &.is-primary {
    .navbar-dropdown {
      a.navbar-item.is-active {
        background-color: $link;
      }
    }
  }
}

.panel-tabs {
  a {
    &.is-active {
      border-bottom-color: $link-active;
    }
  }
}

.panel-block {
  &:hover {
    color: $link-hover;

    .panel-icon {
      color: $link-hover;
    }
  }

  &.is-active {
    .panel-icon {
      color: $link-active;
    }
  }
}

.tabs {
  &.is-boxed {
    li.is-active a {
      background-color: darken($grey-darker, 4);
    }
  }
}

.hero {

  // Colors
  @each $name,
  $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      .navbar {
        .navbar-dropdown {
          .navbar-item:hover {
            background-color: $navbar-dropdown-item-hover-background-color;
          }
        }
      }
    }
  }
}

.message-body pre {
  background: $grey-dark;

  code {
    color: $grey-lighter;
  }
}

.datetimepicker-dummy {
  background: $grey-darker;

  .datetimepicker-dummy-wrapper {
    border-radius: $radius;
  }
}

.datetimepicker-wrapper .datetimepicker {
  background: $grey-dark;
  color: #fff;

  .datetimepicker-container {
    .datepicker {
      .datepicker-nav {
        background: $grey;
      }

      .datepicker-body .datepicker-dates .datepicker-days {
        .datepicker-date {
          background-color: $grey;
        }

        .datepicker-date.is-current-month {
          background-color: transparent;
        }

        .datepicker-date.is-disabled {
          background-image: url("data:image/gif;base64,R0lGODlhBQAFAHAAACH5BAEAAAIALAAAAAAFAAUAgQAAAIybnQAAAAAAAAIIlIMmGLqtUgEAOw==") !important;
          background-color: $grey;

          .date-item {
            opacity: .5;
          }
        }
      }
    }

    .timepicker .timepicker-start {

      .timepicker-time-divider {
        color: #fff;
      }

      .timepicker-hours,
      .timepicker-minutes {
        .timepicker-input {
          color: #fff;
        }
      }
    }
  }

  .datetimepicker-footer {
    .button {
      font-weight: bold;

      .datetimepicker-footer-cancel {
        color: #fff;
      }
    }
  }
}

.editor-toolbar {
  background: $grey-dark;
  color: #fff !important;

  button {
    svg path {
      fill: #fff;
    }
  }

  button:hover {
    background: $grey-light !important;
  }

  button.active {
    background: $grey-light !important;
  }
}
