// Scaffolding
// -------------------------

html {
  background-color: #f1f3fa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    flex: 1;
  }

  footer.page-footer {
    padding-bottom: 0.5rem;
  }
}

#alert {
  position: fixed;
  z-index: 999;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

article.message.alert-detail {
  animation: slide-down 0.3s ease-in;
}

// Bulma components. The order matters, add new components
// after the `base/_all` import
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";

@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/message.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/pagination.sass";
@import "../../node_modules/bulma/sass/components/menu.sass";

@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma-tooltip/src/sass/index.sass";

@import './group.scss';
@import './room.scss';
@import './margin-padding.scss';

// Body left and right margin
@media screen and (min-width: 1408px) {
  body {
    margin: 0 25rem;
  }
}

@media screen and (max-width: 1407px) {
  body {
    margin: 0 15rem;
  }
}

@media screen and (max-width: 1215px) {
  body {
    margin: 0 10rem;
  }
}

@media screen and (max-width: 1023px) {
  body {
    margin: 0 5rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 1rem;
  }
}