// Scaffolding
// -------------------------

html {
  background-color: #f1f3fa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    flex: 1;
  }

  footer.page-footer {
    padding-bottom: 0.5rem;
  }
}

// Body left and right margin
@media screen and (min-width: 1408px) {
  body {
    margin: 0 25rem;
  }
}

@media screen and (max-width: 1407px) {
  body {
    margin: 0 15rem;
  }
}

@media screen and (max-width: 1215px) {
  body {
    margin: 0 10rem;
  }
}

@media screen and (max-width: 1023px) {
  body {
    margin: 0 5rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 1rem;
  }
}

// Groups index view
.cards.groups,
.cards.tickets {
  .card.group,
  .card.ticket {
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    .card-content {
      .content {
        word-wrap: break-word;
      }
    }
  }
}

.group-show {
  h3.description {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

// Rooms index view
article {
  div.message-header {
    a,
    button {
      margin-left: 1rem;
    }
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
