//////////////// MARGIN / PADDING HELPER ///////////////////
$size-5: 10px;
$size-4: 20px;
$size-3: 30px;
$size-2: 40px;
$size-1: 50px;
$sizes: (1, 2, 3, 4, 5);
$positions: ("top",
  "left",
  "bottom",
  "right");
$bulmaSizes: ($size-1,
  $size-2,
  $size-3,
  $size-4,
  $size-5);
$i: 1;

@each $size in $sizes {
  $sizee: nth($bulmaSizes, $i);
  $i: $i+1;

  .has-margin-#{$size} {
    margin: $sizee !important;
  }

  .has-padding-#{$size} {
    padding: $sizee !important;
  }

  @each $position in $positions {
    .has-margin-#{$position}-#{$size} {
      margin-#{$position}: $sizee !important;
    }

    .has-padding-#{$position}-#{$size} {
      padding-#{$position}: $sizee !important;
    }
  }
}