#alert {
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

[x-cloak] { display: none; }

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .bg-default {
    @apply bg-gray-50 dark:bg-gray-800;
  }

  .flatpickr {
    @apply bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-gray-200;
  }

  .animate-hover {
    @apply transition-colors duration-200;
  }

  .btn {
    @apply px-4 py-2 border-none rounded-full;
  }

  .btn-primary {
    @apply bg-red-400 hover:bg-red-500 dark:bg-indigo-500 text-gray-100 dark:hover:bg-indigo-600 ;
  }

  .title {
    @apply inline-block w-auto px-6 py-3 mb-0 text-2xl font-bold bg-gray-50 dark:bg-indigo-600;
  }

  .subtitle {
    @apply inline-block w-auto px-6 py-3 text-xl font-semibold bg-gray-50 dark:bg-indigo-600 my-3;
  }
  
  .nav-link {
    @apply hover:text-purple-800 dark:hover:text-purple-400 animate-hover;
  }

  .form-element {
    @apply dark:bg-gray-800 dark:text-gray-50;
  }

  .fc-theme-standard td.fc-today {
    @apply bg-opacity-75 dark:bg-blue-900;
  }

  .fc-theme-standard th,
  .fc-theme-standard td,
  .fc-theme-standard thead,
  .fc-theme-standard tbody,
  .fc-theme-standard .fc-divider,
  .fc-theme-standard .fc-row,
  .fc-theme-standard .fc-content,
  .fc-theme-standard .fc-popover,
  .fc-theme-standard .fc-list-view,
  .fc-theme-standard .fc-list-heading td {
    @apply border-gray-500;
  }
}
