extends ../layouts/main

block content
  h2.title Hibajegy felvétele
  form(id="ticket-form")
    .field
      label.label Szint
        .control
          .select
            select(name="roomNumber")
              each room in ROOMS
                option(value=`${room}`)= room
    .field
      label.label Leírás
        .control
          textarea.textarea(name="description", maxlength="500" rows="3")
    .field
      .control
        button.button.is-link(type="button", onclick="addTicket()") Hibajegy felvétele

block scripts
  script(src='/js/ticket.js')
