extend ../layouts/main

block content
  .has-text-centered
    h4.title(style="margin-bottom: 1rem;") Nincs jogosultságod a művelethez!
  img(src="https://http.cat/403", alt="Nincs jogosultságod", style="width: 100%;")