extend ../layouts/main

block content
  .has-text-centered
    h4.title(style="margin-bottom: 1rem;") A keresett oldal nem tal치lhat칩!
  img(src="https://http.cat/404", alt="Az oldal nem tal치lhat칩", style="width: 100%;")