extend ../layouts/main

block content
  .has-text-centered
    h4.title(style="margin-bottom: 1rem;") Az oldal megtekintéséhez bejelentkezés szükséges!
  img(src="https://http.cat/401", alt="Bejelentkezés szükséges", style="width: 100%;")
