extend ../layouts/main

block content
  .has-text-centered
    h4.title.mb-4 Az oldal megtekintéséhez bejelentkezés szükséges!
  img(src="https://http.cat/401", alt="Bejelentkezés szükséges", style="width: 100%;")
