mixin activeButton(href, pageNumber)
  a(href=href class='px-2 py-1 text-white bg-purple-500 border-2 border-purple-500 rounded-md dark:text-black animate-hover hover:bg-purple-400 dark:hover:bg-purple-600')= pageNumber
