extend ../layouts/main

block styles
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/main.min.css")
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.3.0/main.min.css")
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.3.0/main.min.css")

block content
  .columns.is-mobile.is-multiline.is-vcentered
    .column.is-narrow.pr-1
      #floorchange.dropdown
        .dropdown-trigger
          button.button.is-medium(aria-haspopup='true' aria-controls='dropdown-menu')
            span #{room}. emelet
            span.icon.is-small
              i.fas.fa-angle-down(aria-hidden='true')
        #dropdown-menu.dropdown-menu(role='menu')
          .dropdown-content
            each floor in ROOMS.filter((r) => r != room)
              a(href=`/rooms/${floor}`).dropdown-item= floor + ". emelet"
  #calendar

block scripts
  script(src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.0/main.js')
  script(src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.3.0/main.min.js')
  script(src='https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.3.0/main.min.js')
  script(src='https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.3.0/main.min.js')
  script(src='/js/room/calendar.js')
  script(src='/js/room/dropdown.js')
